<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DeleteFox</title>
    <link th:href="@{/css/foxpage.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div style="width: 200px; height 200px; margin-top: 20px; margin-left: auto; margin-right: auto; font-size: large">
    <label id="id_label">ID: </label><label th:text="${id}" class="object_value"></label></br>
    <label id="name_label">Name: </label><label th:field="${fox.name}" th:text="${fox.name}" class="object_value"></label></br>
    <label id="tails_label">Tails: </label><label th:field="${fox.tails}" th:text="${fox.tails}" class="object_value"></label>
</div></br>
<form action="#" th:object="${fox}" th:action="@{'/deleteFox/'+ ${id}}" method="post" class="center">
    <input type="submit" value="Delete" id="red_button">
</form>
</body>
</html>