<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <link th:href="@{/css/foxpage.css}" rel="stylesheet" type="text/css">
</head>
<body id="index_page">
<div class="center" id="fox_interface">
    <h2 class="center">Foxes: </h2>
    <table class="center" id="fox_table">
        <thead>
        <th>ID </th>
        <th>Name </th>
        <th>Tails </th>
        <th colspan="2">Options</th>
        </thead>
        <tbody>
        <tr th:each="fox : ${foxes}">
            <td th:text="${fox.id}"></td>
            <td th:text="${fox.name}"></td>
            <td th:text="${fox.tails}"></td>
            <td>
                <a th:href="@{'/editFox/'+ ${fox.id}}" id="foxEditing">Edit</a>
            </td>
            <td>
                <a th:href="@{'/deleteFox/'+ ${fox.id}}" id="foxDeleting">Delete</a>
            </td>
        </tr>
        </tbody>
    </table></br>
    <form action="#" th:action="@{/addFoxToBase}" method="post" class="center">
        <input type="submit" value="Add fox" id="green_button" name="fox_adding">
    </form>
</div>
</body>
</html>
