<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fox editing</title>
    <style>
        .center{
margin-left: auto;
margin-right: auto;
text-align: center;
}
    </style>
</head>
<body>
<h4 class="center">Edit Fox</h4>
<form action="#" th:object="${fox}" th:action="@{'/editFox/'+ ${id}}" method="post" class="center">
    <input type="hidden" name="_method" value="PUT" />
    <div>
        <label>ID: </label><label th:text="${id}"></label>
        <input type="hidden" value="${id}" name="foxID"/>
        </br><label>Name</label></br>
        <input th:field="${fox.name}" type="input" name="name" th:value="${fox.name}"/></br>
        <label>Tails</label></br>
        <input th:field="${fox.tails}" type="input" name="tails" th:value="${fox.tails}"/></br></br>
        <input type="submit" value="Save">
    </div>
</form>
</body>
</html>