<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fox editing</title>
    <style>
        .center{
margin-left: auto;
margin-right: auto;
text-align: center;
}
    </style>
</head>
<body>
<h4 class="center">Edit Fox</h4>
<form action="#" th:object="${fox}" th:action="@{'/editFox/{id}}" method="post" class="center">
    <div th:if="${param.id != null">
        <label>ID: </label><label th:text="${param.id}"></label></br>
        <input type="hidden" value="${id}" name="foxID"/>
<!--        <label>Name</label></br>-->
<!--        <input th:field="*{name}" type="input" name="name"/>-->
<!--        <label>Tails</label></br>-->
<!--        <input th:field="*{tails}" type="input" name="tails"/>-->
    </div>

</form>
</body>
</html>