<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <style>
        .center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    </style>
</head>
<body>
<div class="center">
    <h4 class="center">Foxes: </h4>
    <table border="1" class="center">
        <thead>
        <th>ID </th>
        <th>Name </th>
        <th>Tails </th>
        <th colspan="2">Options</th>
        </thead>
        <tbody>
        <tr th:each="fox : ${foxes}">
            <td th:text="${fox.id}"></td>
            <td th:text="${fox.name}"></td>
            <td th:text="${fox.tails}"></td>
            <td>
                <a th:href="@{'/editFox/'+ ${fox.id}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table></br>
    <span class="center"><a th:href="@{/addFoxToBase}">Add Fox</a></span>
</div>
</body>
</html>